# Coverage Files
.coverage
coverage.xml

# Generic Python files
/.cache/
/.eggs/
/.idea/
/.tox/
/build/
/dist/
/docs/_build/
__pycache__/
.DS_Store
*.egg
*.egg-info/
*.pyc
*.pyo
*~

# Virtual Environments
.venv
venv/
venv3/
