language:
    python
python:
    - "2.7"
    - pypy
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"
    - pypy3
install:
    - pip install tox-travis
matrix:
    allow_failures:
        - python: "3.4", "3.5"
script:
    - tox
after_success:
  - bash <(curl -s https://codecov.io/bash)
